/*-- scss:defaults --*/
@import url('https://assets.ipums.org/_css/font-faces.css');

$primary: #00263A !default;

$body-color: $primary !default;

$navbar-bg: $primary !default;
$navbar-fg: rgba(white, 0.8) !default;

$footer-bg: $primary !default;
$footer-fg: rgba(white, 0.8) !default;

$link-color: #98579B !default;

$font-family-sans-serif: 'cabrito_sans_norm_regular' !default;
$font-family-monospace: Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', mnospace !default;

$h1-font-size: 36px !default;
$h2-font-size: 30px !default;
$h3-font-size: 26px !default;
$h4-font-size: 24px !default;
$h5-font-size: 24px !default;

$code-color: #4758AB !default;
$btn-code-copy-color-active: $link-color !default;

$table-border-color: rgba($primary, 0.2) !default;

/*-- scss:rules --*/
// TOC
#toc-title {
  font-family: 'cabrito_sans_cond_demi';
  font-weight: 100;
  font-size: 1rem;
}

// Post headers
.quarto-title-banner {
  background-color: $light;
}

.quarto-title-banner .quarto-title {
  color: $primary;
}

.quarto-title-banner .quarto-title .title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
}

// Asides
.column-margin {
  color: rgba(black, 0.6);
  font-size: 12px;
}

// Category list
.quarto-listing-category-title {
  text-transform: uppercase;
}

.quarto-category-count {
   color: rgba(black, 0.6);
}

.sidebar .category {
  color: #98579B;
}

.figure-caption {
  color: rgba(black, 0.6);
}

// Homepage post listing titles
.quarto-listing-default h3 {
  text-transform: uppercase;
}

// Posts
#quarto-document-content h1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.1em;
  font-weight: 100;
}

#quarto-document-content h2 {
  font-size: 30px;
  font-family: "cabrito_sans_cond_demi";
  text-transform: uppercase;
  font-weight: 100;
}


#quarto-document-content h3 {
  font-size: 26px;
  font-family: 'cabrito_sans_cond_demi';
  font-weight: 100;
}

#quarto-document-content h4 {
  font-size: 24px;
  text-transform: unset;
  margin-top: 1.5rem;
  margin-bottom: 1em;
  font-weight: 100;
}

#quarto-document-content h5 {
  font-size: 24px;
  font-family: "cabrito_sans_cond_demi";
  margin-top: 1.5rem;
  margin-bottom: 1em;
  font-weight: 100;
}

// Text
b, strong {
  font-family: "cabrito_sans_cond_demi";
  font-weight: 100;
}

#quarto-document-content table {
  color: $primary;
}

// Section links
.anchorjs-link {
  color: #00263A;
}

// Logo size
.navbar-logo {
  max-height: 50px; /* Makes logo bigger, default was 20px */
  width: auto;
  //padding-right: 24px;
}

// Prevent logo container from shrinking
.navbar-brand-container {
  flex-shrink: 0;
}

// Blog title font-size
// (not stored as true quarto title to avoid inheriting href from DHS logo)
.navbar-collapse .navbar-nav:first-child .menu-text {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  transition: all .25s ease;
}

.navbar-collapse .navbar-nav:first-child .menu-text:hover,
.navbar-collapse .navbar-nav:first-child .menu-text:focus {
  color: white;
  transition: all .25s ease;
}

// Footnotes
#quarto-appendix {
  color: #999999;
}

#quarto-appendix code {
  color: #6d77a8;
}

#quarto-appendix h2 {
  font-family: "cabrito_sans_norm_regular";
  text-transform: unset;
}

#quarto-appendix .footnote-back {
  color: #4a555b;
}

#quarto-appendix.default .footnotes ol li > p:last-of-type {
  margin-bottom: 0.5rem;
}

// Media queries
@media(max-width: 767px){
  .column-margin {
    width: 50%;
    position: relative;
    left: 25%;
    padding-bottom: 20px;
  }
}

.navbar-dark .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus
{
  color: white;
}

// blockquotes
.blockquote {
  color: #00263A99;
}

.hex-img {
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.hex-cap {
  max-width: 100%;
}

.nav-footer a:hover {
  color: white;
}

// tables
.table > :not(:first-child),
.table > :not(caption) > :not(:last-child) > * {
  border-top: solid 1px $table-border-color;
  border-bottom: solid 1px $table-border-color;
}

.table > thead > tr > :not(th:last-child) {
  border-right: solid 1px white;  
}

.table thead {
  background-color: $primary;
  color: white;
}

.table a {
  word-break: normal;
}

.table caption {
  color: rgba($primary, 0.7);
}

.table td {
  vertical-align: middle;
}